USE [LanhKhanh]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](255) NOT NULL,
	[pass] [varchar](255) NOT NULL,
	[isBuy] [int] NOT NULL,
	[isAdmin] [int] NOT NULL,
	[fullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyerAccount]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerAccount](
	[FullName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [varchar](30) NULL,
	[Gender] [nvarchar](30) NULL,
	[Dob] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[OrderID] [int] NOT NULL,
	[Comment] [nvarchar](4000) NULL,
	[Time] [varchar](1000) NULL,
	[Evalue] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[Detail] [nvarchar](4000) NULL,
	[TotalPay] [money] NULL,
	[Status] [nvarchar](50) NULL,
	[DeliveryAddress] [nvarchar](1000) NULL,
	[Payment] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 3/23/2021 10:15:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[price] [money] NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[cateID] [int] NOT NULL,
	[amoutBuy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([uID], [user], [pass], [isBuy], [isAdmin], [fullName]) VALUES (4, N'dat', N'202cb962ac59075b964b07152d234b70', 0, 1, N'Nguyễn Quốc Đat')
INSERT [dbo].[Account] ([uID], [user], [pass], [isBuy], [isAdmin], [fullName]) VALUES (5, N'vuong', N'202cb962ac59075b964b07152d234b70', 1, 0, N'Nguyễn quốc vượng')
INSERT [dbo].[Account] ([uID], [user], [pass], [isBuy], [isAdmin], [fullName]) VALUES (6, N'adam', N'202cb962ac59075b964b07152d234b70', 1, 0, N'ưed')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[BuyerAccount] ([FullName], [Address], [Email], [PhoneNumber], [Gender], [Dob]) VALUES (N'1', N'2', N'3', N'4', N'5', CAST(N'2000-01-02' AS Date))
INSERT [dbo].[BuyerAccount] ([FullName], [Address], [Email], [PhoneNumber], [Gender], [Dob]) VALUES (N'Nguyễn Quốc Đạt 1234', N'63 đường Vũ Hữu Lợi, phường Cửa Nam,thành phố Nam Đinh', N'Datnguyen122000@gmail.com', N'0948854268', N'Name', CAST(N'2000-01-02' AS Date))
INSERT [dbo].[BuyerAccount] ([FullName], [Address], [Email], [PhoneNumber], [Gender], [Dob]) VALUES (N'Nguyễn Quốc Đạt 1234', N'63 đường Vũ Hữu Lợi, phường Cửa Nam,thành phố Nam Đinh', N'Datnguyen122000@gmail.com', N'0948854268', N'Nam', CAST(N'2000-01-02' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cid], [cname]) VALUES (1, N'Xe đạp phổ thông')
INSERT [dbo].[Category] ([cid], [cname]) VALUES (2, N'Xe đạp địa hình')
INSERT [dbo].[Category] ([cid], [cname]) VALUES (3, N'Xe đạp trẻ em')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Feedback] ([OrderID], [Comment], [Time], [Evalue]) VALUES (1000, N'không tốt lắm', N'23-01-2008', NULL)
INSERT [dbo].[Feedback] ([OrderID], [Comment], [Time], [Evalue]) VALUES (1000, N'không tốt lắm', N'23-01-2008', N'1*')
INSERT [dbo].[Feedback] ([OrderID], [Comment], [Time], [Evalue]) VALUES (10000, N'khá là ổn', N'23-01-2001', N'2*')
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderID], [CustomerName], [Detail], [TotalPay], [Status], [DeliveryAddress], [Payment]) VALUES (1, N'dat', N'xx,ss', 1000.0000, N'Đang giao', N'63 đường cửa nam', N'chuyển khoản ')
INSERT [dbo].[OrderDetail] ([OrderID], [CustomerName], [Detail], [TotalPay], [Status], [DeliveryAddress], [Payment]) VALUES (2, N'Ð?t', N'xx,ss', 1000.0000, N'Đang giao', N'63 đường cửa nam', N'ship code')
INSERT [dbo].[OrderDetail] ([OrderID], [CustomerName], [Detail], [TotalPay], [Status], [DeliveryAddress], [Payment]) VALUES (3, N'Đạt', N'xx,ss', 1000.0000, N'đang giao', N'63 đường cửa nam', N'chuyển khoản')
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [image], [price], [title], [description], [cateID], [amoutBuy]) VALUES (1140, N'xxx đạt', N'xxx', 1234.0000, N'xxx tai tồ', N'Dét ríp tòn', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[product] OFF
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_Category] FOREIGN KEY([cateID])
REFERENCES [dbo].[Category] ([cid])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_Category]
GO
